html  {
	-webkit-font-smoothing: antialiased;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: #282a36;
	background-image: url('../images/floating_bg.gif');
	background-size: 100% 100%; 
	background-attachment: fixed;
	background-size: cover;
	font-family: "console", "monospace", "Consolas", "Courier";
	text-shadow: 0px 0px 0px;
}_

body {
	overflow-y: scroll;
	overflow-x: hidden;
	cursor: url(images/cursor.png), auto;
    padding: 10px

}

h1,h2, h3, h4, h5 {
	color: #bd93f9;
}

p {
	color:black;
	background-color: #bd93f9;
	box-shadow: 0 0 2px #bd93f9;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
	border-color: inherit ;
}

a {
	cursor: url(images/cursor.png), auto;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;  /* Firefox all */
	-ms-user-select: none;  /* IE 10+ */
	user-select: none;  /* Likely future */
	-khtml-user-select: none;
	-o-user-select: none;
	outline: 0;
	margin:0;
	padding:0;
}

a:link {color: black; background: #bd93f9;}  /* unvisited link */
a:visited { color:black; background: #bd93f9;}  /* visited link */
a:hover {color: #bd93f9; background: black;}  /* selected link */
a:active {color: #bd93f9; background: black;}  /* selected link */

img {
	font-size: 0;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	-khtml-user-select: none;
	-o-user-select: none;
	outline: 0;
	margin:0;
	padding:0;

}

progress {
	border-radius: 0px;
}

progress::-webkit-progress-bar {
	background-color: #282a36;
	border-radius: 1px;
}
  
progress::-webkit-progress-value {
	background-color: #bd93f9;
	border-radius: 1px;
}

#header-bar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	background-color: #bd93f9;
	z-index: 1000;
	font-size: 2vh;
	box-shadow: 0 0 0px #bd93f9;
}

#footer-bar {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	background-color: #bd93f9;
	z-index: 1000;
	font-size: 2vh;
	box-shadow: 0 0 5px #bd93f9;
}

#content {
	position: relative;
	z-index: 50;
}

[contenteditable="true"] {
	outline: none;
}

#card1 {
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: 1px solid #bd93f9;
	vertical-align: middle;
	float: left;
	font-size: 2vh;
    font-family: "console", "monospace", "Consolas", "Courier";
	color: #bd93f9;
	margin-left:10px;
	margin-top:30px;
	background-color: black;
	border-radius: 1px;

}

#card2 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #bd93f9;
	vertical-align: middle;
	float: left;
	margin: 40px auto;
	max-width:350px;
	font-size: 10pt;
    font-family: "console", "monospace", "Consolas", "Courier";
	color: #bd93f9;
	margin-right:40px;
	margin-left:40px;
	margin-top:65px;
}

.move {
	cursor: url(images/cursor.png), auto;
}

.draggable {
	max-width:350px;
	border-radius: 10px;
	float: left;
}
.draggable.is-pointer-down {
	z-index: 1;  /* above other draggies */
}

.dropdown-button {
	font-family: "console", "monospace", "Consolas", "Courier";
	background-color: #bd93f9;
	overflow: hidden;
	font-size: 2vh;
	padding: 2px;
	border: none;
	cursor: url(images/cursor.png), auto;
	z-index: 50;
	text-shadow: 0px 0px 1px;
	outline: 0;

}

.dropdown {
	position: relative;
	display: inline-block;
	padding-right: 0.5em;

}

.dropdown-content {
	font-family: "console", "monospace", "Consolas", "Courier";
	display: none;
	position: absolute;
	background-color: #bd93f9;
	box-shadow: 0 0 2px #bd93f9;
}

.dropdown-content a {
	color: black;

	text-decoration: none;
	display: block;
}

.dropdown-content  a:hover {
	background-color: black;
	color: #bd93f9;
	font-family: "console", "monospace", "Consolas", "Courier";
}

.dropdown:hover .dropdown-content {
	font-family: "console", "monospace", "Consolas", "Courier";
	display: block;
	position: fixed;
	overflow: hidden;
	color: black;
	background-color: #bd93f9;
	z-index: 1000;
	font-size: 2vh;
}

.dropdown:hover .dropbtn {
	background-color: black;
	color: #bd93f9;
	font-family: "console", "monospace", "Consolas", "Courier";
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}